<header class="header" xmlns:th="http://thymeleaf.org" th:fragment="menu"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
    <div class="container header-container">
        <a href="../index.html" th:href="@{/}" class="logo">
            <img src="../../static/assets/logo.png" th:src="@{/assets/logo.png}" alt="Logo Voll">
        </a>

        <nav class="main-nav">
            <ul sec:authorize="isAuthenticated()" class="nav-left">
                <li class="dropdown">
                    <a href="#">CADASTROS <i class="arrow-down"></i></a>
                    <ul class="dropdown-menu">
                        <li sec:authorize="hasRole('GESTOR')">
                            <a href="../professores/listagem-professor.html" th:href="@{/professores}">Professores</a>
                        </li>

                        <li sec:authorize="hasRole('GESTOR')">
                            <a href="../universitarios/listagem-universitario.html" th:href="@{/universitarios}">Universitarios</a>
                        </li>

                        <li sec:authorize="hasRole('GESTOR')">
                            <a href="../materias/listagem-materia.html.html" th:href="@{/materias}">Matérias</a>
                        </li>

                        <li>
                            <a href="../gestao/listagem-aulas.html" th:href="@{/consultas}">Gestão</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul sec:authorize="isAuthenticated()" class="nav-right">
                <li class="dropdown">
                    <a href="#">Olá, <span sec:authentication="principal.nome"></span> <i class="arrow-down"></i></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-form">
                                <a class="btn-link" href="#" th:href="@{/alterar-senha}">Alterar senha</a>
                            </div>
                            <form th:action="@{/logout}" method="post">
                                <button class="btn-link">SAIR</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-form" sec:authorize="!isAuthenticated()">
                <a class="btn-link" href="#" th:href="@{/login}">Login</a>
            </div>
        </nav>
    </div>
</header>